        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            padding: 20px;
        }
        #pds-table {
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;
        }
        #pds-table th, #pds-table td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        #pds-table th {
            background-color: #f5f5f5;
        }
        #pds-table td:nth-child(2) {
            max-width: 150px;
            word-break: break-word;
            white-space: pre-wrap;
        }
        #pds-table a {
            color: #0066cc;
            text-decoration: none;
        }
        #pds-table a:hover {
            text-decoration: underline;
        }
        #bsky-table {
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;
        }
        #bsky-table th, #bsky-table td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        #bsky-table th {
            background-color: #f5f5f5;
        }
        #bsky-table td:nth-child(2) {
            max-width: 150px;
            word-break: break-word;
            white-space: pre-wrap;
        }
        #bsky-table a {
            color: #0066cc;
            text-decoration: none;
        }
        #bsky-table a:hover {
            text-decoration: underline;
        }